################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/event-registration/.vs
/event-registration/src/web/obj
/event-registration/src/web/bin/Debug/net8.0
/event-registration/WebApp/obj
/event-registration/WebApp/bin/Debug/net8.0
/event-registration/WebApp/Controllers/EventController.cs
